<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name='serviceBus' type="Shuttle.ESB.Core.ServiceBusSection, Shuttle.ESB.Core"/>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name='sqlServer' type="Shuttle.ESB.SqlServer.SqlServerSection, Shuttle.ESB.SqlServer"/>
  </configSections>
  <sqlServer
      subscriptionManagerConnectionStringName="Subscription"
      idempotenceServiceConnectionStringName="Idempotence"
      scriptFolder=""
  />
  <serviceBus>
    <!--<messageRoutes>
      <messageRoute uri="msmq://./shuttle-server-loan">
        <add specification="StartsWith" value="YouLend.Loans.Messages" />
      </messageRoute>
    </messageRoutes>-->
    <inbox
        workQueueUri="msmq://./shuttle-server-loan"
        errorQueueUri="msmq://./shuttle-error" />
  </serviceBus>
  <connectionStrings>
    <clear/>
    <add name="Idempotence" 
         connectionString="Data Source=YLWIN81DEV1\SQLEXPRESS;Initial Catalog=YouLend.Accounts;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
    <add name="Subscription"
         connectionString="Data Source=YLWIN81DEV1\SQLEXPRESS;Initial Catalog=YouLend.Messaging.Subscriptions;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>